body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Courier New', Courier, monospace 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgba(223,78,208,1) 0%, rgba(128,67,235,1) 57%, rgba(85,164,226,1) 100%); }

button{
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
